/* Svelvet */
[data-theme="light"] #background-wrapper {
  background-color: #F5F5FC !important;
}
[data-theme="dark"] #background-wrapper {
  background-color: #232538 !important;
}

/* Anchors */
.svelvet-anchor {
  background-color: transparent !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover !important;
  box-shadow: none !important;
  border-radius: 0 !important;
  width: 11px !important;
  height: 11px !important;
  transform: translateX(1);
}

.svelvet-anchor.input {
  background: none;
}
.svelvet-anchor.input.connected {
  background: url('/anchor-west-active.svg');
}
.running .svelvet-anchor.input.connected {
  background: url('/anchor-west-running.svg');
}

.svelvet-anchor.output {
  background: none;
}
.svelvet-anchor.output.connected {
  background: url('/anchor-east-active.svg');
}
.running .svelvet-anchor.output.connected {
  background: url('/anchor-east-running.svg');
}

/* Edges */
.ready-edge {
  stroke: #8989B0;
  stroke-width: 1px;
}

.running-edge {
  stroke: #F55693;
  stroke-width: 2px;
  stroke-dashoffset: -100;
  -webkit-animation: edgeAnimation 20000ms linear infinite;
  -moz-animation: edgeAnimation 20000ms linear infinite;
  -o-animation: edgeAnimation 20000ms linear infinite;
  animation: edgeAnimation 20000ms linear infinite;
}

@keyframes edgeAnimation {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 100;
  }
}
