@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Overpass';
  src: url('/fonts/overpass-variablefont_wght-webfont.woff2') format('woff2'),
        url('/fonts/overpass-variablefont_wght-webfont.woff') format('woff');
  font-weight: 400 550 600 700;
  font-style: normal;
}


@font-face {
  font-family: 'OverpassMono';
  src: url('/fonts/overpassmono-variablefont_wght-webfont.woff2') format('woff2'),
        url('/fonts/overpassmono-variablefont_wght-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Literata';
  src: url('/fonts/Literata-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: 100 600;
  font-style: normal;
}

html, body {
  @apply overflow-x-hidden;
}

body, input {
  @apply font-sans text-body-m;
  font-weight: 350;
}


h1, h2, h3, h4, h5, h6 {
  @apply font-sans text-base-content;
}

/* Button default styles */
.btn {
  @apply min-h-0 font-sans border-0 transition-colors ease-in-out;
}

.btn-circle {
  @apply text-odd-gray-700 bg-odd-gray-200 h-8 min-h-8 w-8;
}

.btn-circle:hover {
  @apply bg-odd-gray-150;
}

.btn-outline {
  @apply text-btn text-odd-gray-700 bg-odd-gray-200 px-4;
}

.btn-clear {
  @apply text-btn text-odd-purple-500 bg-transparent;
}

.btn-primary {
  @apply text-btn text-odd-purple-100 bg-odd-purple-500 px-2;
}

.btn-primary:hover {
  @apply bg-odd-purple-400;
}

.btn-primary:disabled {
  @apply bg-odd-purple-500 text-odd-purple-100 opacity-50;
}

.btn-warning {
  @apply bg-odd-pink-500 text-odd-pink-100;
}

.btn-warning:hover {
  @apply bg-odd-pink-400;
}

.btn-link {
  @apply text-blue-500;
}

.btn-odd-gray-100 {
  @apply bg-base-200 border-4 border-odd-gray-100 rounded-sm text-base-content text-label-sm;
  border-style: ridge;
}
[data-theme="dark"] .btn-odd-gray-100 {
  @apply border-base-200;
}

.btn-odd-gray-900 {
  @apply border-4 border-odd-gray-800 bg-odd-gray-900 text-odd-gray-0 rounded-sm hover:bg-odd-gray-800 hover:border-odd-gray-800;
  border-style: ridge;
}

.btn-odd-purple-500 {
  @apply border-4 border-odd-purple-400 rounded-sm text-odd-purple-100 text-label-sm;
  border-style: ridge;
}

.btn-odd-red-400 {
  @apply border-4 border-error rounded-sm text-error-content text-label-sm;
  border-style: ridge;
}

/* Input default styles */
.input-bordered {
  @apply text-base-content border-2 border-base-content;
}

.modal {
  @apply bg-base-100 bg-opacity-75;
}

/* Modal default styles */
.modal-box {
  @apply p-12 border-2 border-base-content min-w-[33vw] max-w-2xl;
}

/* Label default styles */
.label {
  @apply px-0;
}

.label-text-alt {
  @apply text-body-sm;
}

/* Input styles */
.input-error {
  @apply !outline !outline-2 !outline-error;
}

/* Alert styles */
.alert {
  @apply border-4;
  border-style: ridge;
}
.alert.alert-error {
  @apply border-odd-red-300;
}
.alert.alert-success {
  @apply border-odd-green-300;
}
.alert.alert-warning {
  @apply border-odd-yellow-300;
}
.alert.alert-info {
  @apply border-odd-blue-300;
}

/* Markdown styles */
.markdown-body {
  @apply p-4 rounded;
}

/* Utils */
.ridge {
  border-style: ridge;
}

/* CodeJar */
.codejar-wrap {
  @apply h-full rounded-sm;
}

.codejar-wrap .codejar-linenumbers {
  @apply !bg-base-300 !text-base-content !p-2.5 !rounded-sm;  
  mix-blend-mode: normal !important; 
}

.codejar-wrap .language-javascript {
  @apply min-h-full !pl-12 !pr-4 !py-2.5;
}